@model BudgetPlanningWebApplication.Transaction

@{
    ViewData["Title"] = "Детали транзакции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-justified" style="background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));">
    @*<li class="nav-item">
    <a class="nav-link" role="button" asp-area="" asp-controller="Home" asp-action="Index" style="color:black; font-size:large">Мой кошелек</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link" style="color:black; font-size:large" role="button"
           asp-area=" " asp-controller="Users" asp-action="Details" asp-route-id="@Convert.ToInt32(Context.Request.Cookies["uId"])">Мой аккаунт</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:black; font-size:large" role="button" asp-area="" asp-controller="Home" asp-action="GoToTransaction">Транзакции</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:black; font-size:large" role="button" asp-area="" asp-controller="FinancialPlans" asp-action="Index">Финансовый план</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:black; font-size:large" asp-area="" asp-controller="RT" asp-action="LogOut">Выход</a>
    </li>
</ul>

<br>
<br>
<h2 class="fw-bold mb-4">Просмотр транзакции</h2>
<div>
    <a asp-action="Index">Вернуться к списку транзакций</a>
</div>
<br>
<div class="col">
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Сумма</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.Sum)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Дата</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.Date)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Тип транзакции</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.TypeOfTransaction.Name)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Актив</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.Active.Name)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Категория</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.Category.Name)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0 fw-bold" style="font-size:larger">Комментарий</p>
        </div>
        <div class="col-sm-5">
            <p class="text-muted mb-0" style="font-size:larger">@Html.DisplayFor(model => model.Comment)</p>
        </div>
    </div>
    <hr>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="width:400px; background-color: #8fc4b7;"
       class="btn btn-success btn-block btn-lg text-body">Изменить данные</a>
</div>
